20170831VickFlow1.json
[{"id":"685b6c89.8c535c","type":"inject","z":"7abdc262.b5fe64","name":"FlashTrigger","topic":"flash","payload":"set","payloadType":"str","repeat":"1.5","crontab":"","once":true,"x":1000,"y":140,"wires":[["84b50191.2b3b3"]]},{"id":"b8e93beb.dc0ff","type":"debug","z":"7abdc262.b5fe64","name":"debug","active":true,"console":"false","complete":"payload","x":490,"y":60,"wires":[]},{"id":"8cad6cd5.3bbca","type":"e-mail","z":"7abdc262.b5fe64","server":"smtp.gmail.com","port":"465","secure":true,"name":"vick3450@qq.com","dname":"SendingMail","x":1130,"y":580,"wires":[]},{"id":"c428d20d.87838","type":"ui_gauge","z":"7abdc262.b5fe64","name":"温度计","group":"325eeedb.4fbc6a","order":2,"width":"0","height":"0","gtype":"gage","title":"温度","label":" ℃","format":"{{value | number:2}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"50","x":506,"y":123,"wires":[]},{"id":"4aaf5169.67a1f8","type":"ui_button","z":"7abdc262.b5fe64","name":"btn2","group":"acfa181e.d3ae18","order":1,"width":0,"height":0,"label":"冰箱","color":"","bgcolor":"","icon":"","payload":"54.22","payloadType":"num","topic":"topic","x":1110,"y":240,"wires":[[]]},{"id":"8de1961d.ad04","type":"ui_button","z":"7abdc262.b5fe64","name":"btn3","group":"44dca0c9.b0b93","order":1,"width":0,"height":0,"label":"电饭煲","color":"","bgcolor":"","icon":"","payload":"12.99","payloadType":"num","topic":"topic","x":1110,"y":380,"wires":[[]]},{"id":"3a8966c7.00c3f2","type":"ui_button","z":"7abdc262.b5fe64","name":"btn12","group":"598d82a0.7d36ac","order":1,"width":0,"height":0,"label":"温度设定2","color":"","bgcolor":"","icon":"","payload":"22.22","payloadType":"num","topic":"topic","x":1110,"y":280,"wires":[[]]},{"id":"2c042e3a.624f52","type":"ui_button","z":"7abdc262.b5fe64","name":"btn13","group":"e22a6bd5.fbe6e8","order":1,"width":0,"height":0,"label":"温度设定3","color":"","bgcolor":"","icon":"","payload":"{{msg.temp|number}}","payloadType":"str","topic":"temp","x":1109,"y":336,"wires":[[]]},{"id":"53473549.9b4fdc","type":"ui_audio","z":"7abdc262.b5fe64","name":"Audio","group":"325eeedb.4fbc6a","voice":"0","always":false,"x":1110,"y":640,"wires":[]},{"id":"c83c2fcc.ff9898","type":"mqtt in","z":"7abdc262.b5fe64","name":"VickMQTT","topic":"hello","qos":"2","broker":"fe6c05a7.d75a5","x":100,"y":520,"wires":[["b1e54a07.b1fb3"]]},{"id":"a2be89ca.f43bb8","type":"mqtt out","z":"7abdc262.b5fe64","name":"VickMQTT1","topic":"hello","qos":"0","retain":"true","broker":"fe6c05a7.d75a5","x":410,"y":440,"wires":[]},{"id":"b1e54a07.b1fb3","type":"switch","z":"7abdc262.b5fe64","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"flash","vt":"str"}],"checkall":"true","outputs":3,"x":239.0137939453125,"y":520.8239440917969,"wires":[["4411f742.fcead"],["d37ded7e.c6cf18"],[]]},{"id":"e97c7b0f.f495b8","type":"inject","z":"7abdc262.b5fe64","name":"VickTest","topic":"hello","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":39,"wires":[[]]},{"id":"4411f742.fcead","type":"change","z":"7abdc262.b5fe64","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":366.656494140625,"y":493.3523864746094,"wires":[["41158250.5f6f3c"]]},{"id":"d37ded7e.c6cf18","type":"change","z":"7abdc262.b5fe64","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":367.656494140625,"y":538.028564453125,"wires":[["41158250.5f6f3c"]]},{"id":"3111867d.4cd38a","type":"ui_switch","z":"7abdc262.b5fe64","name":"switch1","label":"电灯","group":"29990a1e.1f6b0e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"vick/test","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":100,"y":440,"wires":[["a2be89ca.f43bb8"]]},{"id":"84b50191.2b3b3","type":"trigger","z":"7abdc262.b5fe64","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"300","extend":false,"units":"ms","reset":"\"on\"","name":"flash","x":1150,"y":140,"wires":[["fc41885d.a6af5"]]},{"id":"e1b0f768.f23e5","type":"python-function","z":"7abdc262.b5fe64","name":"temp","func":"import time\n#print 15\nwhile True :\n    time.sleep(6)\n    msg['payload'] = 1\n#msg['payload'] = 18 + 29\n    return msg\n","outputs":"2","x":250,"y":740,"wires":[[],[]],"outputLabels":["msg1","msg2"]},{"id":"41158250.5f6f3c","type":"rpi-gpio out","z":"7abdc262.b5fe64","name":"GPIO_12","pin":"32","set":true,"level":"0","freq":"","out":"out","x":560,"y":520,"wires":[]},{"id":"d90a2415.a9c93","type":"inject","z":"7abdc262.b5fe64","name":"","topic":"","payload":"Hello to Jason Isaacs","payloadType":"str","repeat":"","crontab":"","once":false,"x":1059,"y":698,"wires":[["ba1a1943.5750e8"]]},{"id":"ba1a1943.5750e8","type":"play audio","z":"7abdc262.b5fe64","name":"","x":1294,"y":699,"wires":[]},{"id":"ecb0f32a.076c","type":"rpi-gpio in","z":"7abdc262.b5fe64","name":"status","pin":"38","intype":"tri","debounce":"250","read":true,"x":119,"y":227,"wires":[["45e3c542.ceedcc"]]},{"id":"71a4e10a.48f85","type":"delay","z":"7abdc262.b5fe64","name":"delay","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":660,"wires":[[]]},{"id":"8a5a3aa6.2becc","type":"ui_text","z":"7abdc262.b5fe64","group":"325eeedb.4fbc6a","order":0,"width":"6","height":"2","name":"红外检测","label":"<<<红外检测>>>   ","format":"{{msg.payload}}","layout":"col-center","x":504,"y":224,"wires":[]},{"id":"45e3c542.ceedcc","type":"switch","z":"7abdc262.b5fe64","name":"ifAct","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":237,"y":227,"wires":[["785ca960.4661c"],["31ddfd6d.2743d2"]]},{"id":"785ca960.4661c","type":"change","z":"7abdc262.b5fe64","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"有人员活动","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":367,"y":207,"wires":[["8a5a3aa6.2becc"]]},{"id":"31ddfd6d.2743d2","type":"change","z":"7abdc262.b5fe64","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"无人员活动","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":367,"y":247,"wires":[["8a5a3aa6.2becc"]]},{"id":"2493b704.c312c","type":"rpi-gpio in","z":"7abdc262.b5fe64","name":"status21","pin":"40","intype":"tri","debounce":"250","read":true,"x":80,"y":660,"wires":[[]]},{"id":"fe78187c.9e7a5","type":"rpi-gpio out","z":"7abdc262.b5fe64","name":"GPIO_4","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1120,"y":540,"wires":[]},{"id":"ecdbba76.eb2b68","type":"exec","z":"7abdc262.b5fe64","command":"/home/pi/vick3450/dh11nodered.py3","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":true,"name":"temp","x":258,"y":140,"wires":[["dc61e5e1.8b66f"],[],[]]},{"id":"dbdc4316.b6566","type":"function","z":"7abdc262.b5fe64","name":"","func":"var msg1 = { payload:\"first out of output 1\" };\nvar msg2 = { payload:\"second out of output 1\" };\nvar msg3 = { payload:\"third out of output 1\" };\nvar msg4 = { payload:\"only message from output 2\" };\nreturn [ [ msg1, msg2, msg3 ], msg4 ];","outputs":"2","noerr":0,"x":1070,"y":840,"wires":[[],[]]},{"id":"3c1eecbb.00904c","type":"split","z":"7abdc262.b5fe64","name":"splitStr","splt":"\\n","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"topic","x":1230,"y":840,"wires":[[]],"outputLabels":["msg"]},{"id":"dc61e5e1.8b66f","type":"function","z":"7abdc262.b5fe64","name":"splitStr","func":"var outputMsgs = [];\nvar words = msg.payload.split(\" \");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn outputMsgs;","outputs":"2","noerr":0,"x":378,"y":140,"wires":[["c428d20d.87838"],["2aa72f9d.686f3"]]},{"id":"2aa72f9d.686f3","type":"ui_gauge","z":"7abdc262.b5fe64","name":"湿度计","group":"325eeedb.4fbc6a","order":2,"width":"0","height":"0","gtype":"gage","title":"湿度","label":"%","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":506,"y":158,"wires":[]},{"id":"bc3710cf.4fa0f","type":"ui_switch","z":"7abdc262.b5fe64","name":"switch2","label":"油烟机","group":"29990a1e.1f6b0e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"vick/test","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":100,"y":580,"wires":[[]]},{"id":"80822105.9dc7e8","type":"trigger","z":"7abdc262.b5fe64","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-10","extend":false,"units":"s","reset":"\"on\"","name":"triger","x":1110,"y":480,"wires":[[]]},{"id":"d40efeb9.a2eef","type":"inject","z":"7abdc262.b5fe64","name":"定时触发器","topic":"trigger","payload":"1","payloadType":"num","repeat":"60","crontab":"","once":true,"x":115,"y":140,"wires":[["ecdbba76.eb2b68"]]},{"id":"fc41885d.a6af5","type":"rpi-gpio out","z":"7abdc262.b5fe64","name":"GPIO-04","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1280,"y":140,"wires":[]},{"id":"325eeedb.4fbc6a","type":"ui_group","z":"","name":"客厅","tab":"229ceb1e.fdc23c","order":2,"disp":true,"width":"6"},{"id":"acfa181e.d3ae18","type":"ui_group","z":"","name":"书房","tab":"229ceb1e.fdc23c","order":4,"disp":true,"width":"6"},{"id":"44dca0c9.b0b93","type":"ui_group","z":"","name":"餐厅","tab":"229ceb1e.fdc23c","order":3,"disp":true,"width":"6"},{"id":"598d82a0.7d36ac","type":"ui_group","z":"","name":"南次卧","tab":"229ceb1e.fdc23c","order":7,"disp":true,"width":"6"},{"id":"e22a6bd5.fbe6e8","type":"ui_group","z":"","name":"主卧","tab":"229ceb1e.fdc23c","order":6,"disp":true,"width":"6"},{"id":"fe6c05a7.d75a5","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29990a1e.1f6b0e","type":"ui_group","z":"","name":"厨房","tab":"229ceb1e.fdc23c","disp":true,"width":"6"},{"id":"229ceb1e.fdc23c","type":"ui_tab","z":"","name":"祺祺的家","icon":"dashboard"}]