20170830vickFlow1.json
[{"id":"685b6c89.8c535c","type":"inject","z":"7abdc262.b5fe64","name":"FlashTrigger","topic":"flash","payload":"set","payloadType":"str","repeat":"20","crontab":"","once":false,"x":131,"y":316,"wires":[["84b50191.2b3b3"]]},{"id":"b8e93beb.dc0ff","type":"debug","z":"7abdc262.b5fe64","name":"debug","active":true,"console":"false","complete":"payload","x":1190,"y":40,"wires":[]},{"id":"8cad6cd5.3bbca","type":"e-mail","z":"7abdc262.b5fe64","server":"smtp.gmail.com","port":"465","secure":true,"name":"vick3450@qq.com","dname":"SendingMail","x":505,"y":369,"wires":[]},{"id":"c6ad6257.393cd8","type":"ui_button","z":"7abdc262.b5fe64","name":"btn1","group":"28e14809.195158","order":1,"width":0,"height":0,"label":"油烟机","color":"","bgcolor":"","icon":"","payload":"24.68","payloadType":"num","topic":"topic","x":77,"y":481,"wires":[["c428d20d.87838"]]},{"id":"c428d20d.87838","type":"ui_gauge","z":"7abdc262.b5fe64","name":"温度计","group":"325eeedb.4fbc6a","order":2,"width":0,"height":0,"gtype":"gage","title":"温度","label":" ℃","format":"{{value | number:2}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":641,"y":565,"wires":[]},{"id":"4aaf5169.67a1f8","type":"ui_button","z":"7abdc262.b5fe64","name":"btn2","group":"acfa181e.d3ae18","order":1,"width":0,"height":0,"label":"冰箱","color":"","bgcolor":"","icon":"","payload":"54.22","payloadType":"num","topic":"topic","x":73,"y":537,"wires":[["c428d20d.87838"]]},{"id":"8de1961d.ad04","type":"ui_button","z":"7abdc262.b5fe64","name":"btn3","group":"44dca0c9.b0b93","order":1,"width":0,"height":0,"label":"电饭煲","color":"","bgcolor":"","icon":"","payload":"12.99","payloadType":"num","topic":"topic","x":75,"y":590,"wires":[["c428d20d.87838"]]},{"id":"b84bbd51.99a0d","type":"ui_button","z":"7abdc262.b5fe64","name":"btn11","group":"325eeedb.4fbc6a","order":1,"width":0,"height":0,"label":"温度设定1","color":"","bgcolor":"","icon":"","payload":"11.11","payloadType":"num","topic":"topic","x":347,"y":488,"wires":[["c428d20d.87838","53473549.9b4fdc"]]},{"id":"3a8966c7.00c3f2","type":"ui_button","z":"7abdc262.b5fe64","name":"btn12","group":"598d82a0.7d36ac","order":1,"width":0,"height":0,"label":"温度设定2","color":"","bgcolor":"","icon":"","payload":"22.22","payloadType":"num","topic":"topic","x":346,"y":541,"wires":[["c428d20d.87838"]]},{"id":"2c042e3a.624f52","type":"ui_button","z":"7abdc262.b5fe64","name":"btn13","group":"e22a6bd5.fbe6e8","order":1,"width":0,"height":0,"label":"温度设定3","color":"","bgcolor":"","icon":"","payload":"{{msg.temp|number}}","payloadType":"str","topic":"temp","x":345,"y":597,"wires":[["c428d20d.87838"]]},{"id":"53473549.9b4fdc","type":"ui_audio","z":"7abdc262.b5fe64","name":"Audio","group":"325eeedb.4fbc6a","voice":"0","always":false,"x":642,"y":492.5,"wires":[]},{"id":"c83c2fcc.ff9898","type":"mqtt in","z":"7abdc262.b5fe64","name":"VickMQTT","topic":"hello","qos":"2","broker":"fe6c05a7.d75a5","x":94.5,"y":195.5,"wires":[["b1e54a07.b1fb3"]]},{"id":"a2be89ca.f43bb8","type":"mqtt out","z":"7abdc262.b5fe64","name":"VickMQTT1","topic":"hello","qos":"0","retain":"true","broker":"fe6c05a7.d75a5","x":358.5,"y":97,"wires":[]},{"id":"b1e54a07.b1fb3","type":"switch","z":"7abdc262.b5fe64","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"flash","vt":"str"}],"checkall":"true","outputs":3,"x":233.5137939453125,"y":196.32394409179688,"wires":[["4411f742.fcead"],["d37ded7e.c6cf18"],[]]},{"id":"e97c7b0f.f495b8","type":"inject","z":"7abdc262.b5fe64","name":"VickTest","topic":"hello","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":39,"wires":[[]]},{"id":"4411f742.fcead","type":"change","z":"7abdc262.b5fe64","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":361.156494140625,"y":168.85238647460938,"wires":[["41158250.5f6f3c"]]},{"id":"d37ded7e.c6cf18","type":"change","z":"7abdc262.b5fe64","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":362.156494140625,"y":213.528564453125,"wires":[["41158250.5f6f3c"]]},{"id":"3111867d.4cd38a","type":"ui_switch","z":"7abdc262.b5fe64","name":"switch1","label":"开关","group":"29990a1e.1f6b0e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"vick/test","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":101,"y":96.5,"wires":[["a2be89ca.f43bb8"]]},{"id":"2c0c2ec9.49e0c2","type":"ui_text_input","z":"7abdc262.b5fe64","name":"temp","label":"温度","group":"325eeedb.4fbc6a","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"3000","topic":"temp","x":74,"y":644,"wires":[["c428d20d.87838"]]},{"id":"84b50191.2b3b3","type":"trigger","z":"7abdc262.b5fe64","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"2","extend":false,"units":"s","reset":"","name":"flash2","x":327,"y":316.5,"wires":[[]]},{"id":"e1b0f768.f23e5","type":"python-function","z":"7abdc262.b5fe64","name":"","func":"\nreturn msg","outputs":1,"x":73,"y":779.5,"wires":[[]]},{"id":"e4c55d65.ca1928","type":"inject","z":"7abdc262.b5fe64","name":"Love1","topic":"flash","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":438,"wires":[[]]},{"id":"41158250.5f6f3c","type":"rpi-gpio out","z":"7abdc262.b5fe64","name":"GPIO_12","pin":"32","set":true,"level":"0","freq":"","out":"out","x":580,"y":180,"wires":[]},{"id":"d90a2415.a9c93","type":"inject","z":"7abdc262.b5fe64","name":"","topic":"","payload":"Hello to Jason Isaacs","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":718,"wires":[["ba1a1943.5750e8"]]},{"id":"ba1a1943.5750e8","type":"play audio","z":"7abdc262.b5fe64","name":"","x":374,"y":719,"wires":[]},{"id":"ecb0f32a.076c","type":"rpi-gpio in","z":"7abdc262.b5fe64","name":"status","pin":"38","intype":"tri","debounce":"250","read":true,"x":710,"y":120,"wires":[["45e3c542.ceedcc"]]},{"id":"71a4e10a.48f85","type":"delay","z":"7abdc262.b5fe64","name":"delay","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":307,"y":411.5,"wires":[[]]},{"id":"8a5a3aa6.2becc","type":"ui_text","z":"7abdc262.b5fe64","group":"325eeedb.4fbc6a","order":0,"width":0,"height":0,"name":"act","label":"红外检测：   ","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":140,"wires":[]},{"id":"45e3c542.ceedcc","type":"switch","z":"7abdc262.b5fe64","name":"ifAct","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":850,"y":120,"wires":[["785ca960.4661c"],["31ddfd6d.2743d2"]]},{"id":"785ca960.4661c","type":"change","z":"7abdc262.b5fe64","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"有人员活动","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":100,"wires":[["8a5a3aa6.2becc","b8e93beb.dc0ff"]]},{"id":"31ddfd6d.2743d2","type":"change","z":"7abdc262.b5fe64","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"无人员活动","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["8a5a3aa6.2becc"]]},{"id":"1e280ac5.8528ed","type":"ui_numeric","z":"7abdc262.b5fe64","name":"temp","label":"温度","group":"325eeedb.4fbc6a","order":4,"width":0,"height":0,"passthru":true,"topic":"temp","format":"{{value}}","min":0,"max":"55","step":"1","x":346,"y":650,"wires":[["c428d20d.87838"]]},{"id":"2493b704.c312c","type":"rpi-gpio in","z":"7abdc262.b5fe64","name":"status21","pin":"40","intype":"tri","debounce":"250","read":true,"x":780,"y":340,"wires":[[]]},{"id":"fe78187c.9e7a5","type":"rpi-gpio out","z":"7abdc262.b5fe64","name":"GPIO_4","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1020,"y":380,"wires":[]},{"id":"28e14809.195158","type":"ui_group","z":"","name":"北次卧","tab":"229ceb1e.fdc23c","order":8,"disp":true,"width":"6"},{"id":"325eeedb.4fbc6a","type":"ui_group","z":"","name":"客厅","tab":"229ceb1e.fdc23c","order":2,"disp":true,"width":"6"},{"id":"acfa181e.d3ae18","type":"ui_group","z":"","name":"书房","tab":"229ceb1e.fdc23c","order":4,"disp":true,"width":"6"},{"id":"44dca0c9.b0b93","type":"ui_group","z":"","name":"餐厅","tab":"229ceb1e.fdc23c","order":3,"disp":true,"width":"6"},{"id":"598d82a0.7d36ac","type":"ui_group","z":"","name":"南次卧","tab":"229ceb1e.fdc23c","order":7,"disp":true,"width":"6"},{"id":"e22a6bd5.fbe6e8","type":"ui_group","z":"","name":"主卧","tab":"229ceb1e.fdc23c","order":6,"disp":true,"width":"6"},{"id":"fe6c05a7.d75a5","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29990a1e.1f6b0e","type":"ui_group","z":"","name":"厨房","tab":"229ceb1e.fdc23c","disp":true,"width":"6"},{"id":"229ceb1e.fdc23c","type":"ui_tab","z":"","name":"祺祺的家","icon":"dashboard"}]